{% extends "pages/base.html" %}
{% load static %}

{% block content %}

<div class="page-banner">
    <h1>About Us</h1>
</div>

<table class="two-col-section">
    <!-- first section - for about the bldg and co -->
    <tr>
        <td class="text-col">
            <h2>About Us</h2>
            <p style="text-indent: 2em; ">{{ paragraph.paragraph }}</p>
        </td>
        <td class="image-col">
            <img src="{{ about.image.url }}" alt="Building Photo">
        </td>
    </tr>

    <!-- second section - for about founder and vp -->
    {% for person in team %}
    <tr>
        <td class="text-col" >
            <h2>{{ person.name }} | {{ person.role }}</h2>
            <p style="text-indent: 2em;">{{ person.bio }}</p>
        </td>
        <td class="image-col">
            <img src="{{ person.photo.url }}" alt="{{ person.name }}">
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}