{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Towne Engineering, P.C.</title>
        <link rel="stylesheet" type = "text/css" href="{% static "css/styles.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>

    <body>
        <header>
            <div class="header-container" style="margin: 0 auto;">
                <div class="logo-title">
                    <img src="{% static 'images/logo.png' %}" alt="Towne Engineering Logo" class="logo">
                    <h1 class="company-title">Towne<br> 
                        Engineering, P.C.</h1>
                </div>
                <nav style="padding: 30px;">
                    <a href="{% url 'home' %}">Home</a> | 
                    <a href="{% url 'about' %}">About Us</a> |
                    <a href="{% url 'projects' %}">Projects</a> |
                    <a href="{% url 'contactus' %}">Contact Us</a>
                </nav>
            </div>
        </header>

        <main>
            {% block content %}

            {% endblock %}
        </main>

        <footer>
                <p> 
                    <a href="https://www.facebook.com/TowneEngineering/"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.linkedin.com/company/towne-engineering-p-c/"><i class="fab fa-linkedin"></i></a>
                    <br>
                    &copy; 2025 Towne Engineering P.C. . All rights reserved.
                </p>
        </footer>
    </body>
</html>